body{
    margin: 0px;
    padding: 0px;
}
.container{
	height: 720px;
	width:  1366px;
	background-color: white;
	padding: 0px;
	margin: 0px;
	text-align: center;
	align-content: center;
}

.btncadastrar{

	margin-top: 100px

}
.login{
	background-image: url("img/tela.jpg");
	height: 500px;
	width: 800px;
	display: block;
    margin-left: auto;
    margin-right: auto 
}
.usuario{
	margin-top: 185px;
	margin-left: 250px;
	box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 200px;
    height: 20px;
    border-radius: 15%;
}
.senha{
	margin-left: 250px;
	margin-top: 30px;
	box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 280px;
    height: 18px;
    border-radius: 15%;
}
.btn_entrar{
	margin-left: 350px;
	opacity: 1;
	transition: 0.2s;
}
.btn_entrar:hover{
	opacity: 0.6;
}
.login_confirmado{
	content: center;
	text-align: center;
}
.continuar{
	text-decoration: none;
	color: green ;
	font-size: 20px;
}
.campo_nome{
	border-style: solid;
	border-width: 2px;
	width: 200px;
	height: 20px;
	text-decoration: none;
	margin-left: px;
}
.campo_idade{
	border-style: solid;
	border-width: 2px;
	width: 200px;
	height: 20px;
	text-decoration: none;
	margin-left: px;
}
.campo_cidade{
	border-style: solid;
	border-width: 2px;
	width: 200px;
	height: 20px;
	text-decoration: none;
	margin-left: px;


}
.campo_endereco{
	border-style: solid;
	border-width: 2px;
	width: 200px;
	height: 20px;
	text-decoration: none;
	margin-left: 0px;
}
.campo_sexo{
	border-style: solid;
	border-width: 2px;
	width: 208px;
	height: 20px;
	text-decoration: none;
	margin-left: px;

}
.tabela_nome{
	background-color: #6495ED ;
}

.dados{
	font-family: arial;

}
.table{
	font-family: arial;
    margin-left: 250px;
}